<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property> <!-- Указывает диалект Hibernate для PostgreSQL -->
        <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property> <!-- Указывает драйвер для подключения к базе данных -->
        <property name = "hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property> <!-- Указывает URL подключения к базе данных -->
        <property name = "hibernate.connection.username">postgres</property> <!-- Указывает имя пользователя для подключения к базе данных -->
        <property name = "hibernate.connection.password">3791</property> <!-- Указывает пароль для подключения к базе данных -->
        <property name="show_sql">true</property> <!-- Включает отображение SQL запросов в консоли -->
        <property name="format_sql">true</property> <!-- Форматирует SQL запросы для удобства чтения -->
        <property name="hibernate.hbm2ddl.auto">create</property> <!-- Опция для автоматического создания схемы базы данных -->
        <property name = "hibernate.jdbc.batch_size">50</property> <!-- Устанавливает размер пакета для пакетных операций JDBC -->

    </session-factory>
</hibernate-configuration>